# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Golang
go.sum

# Environment variables
.env
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Editor and IDE settings
.idea/
.vscode/
*.swp

# Logs
*.log

# Byte-compiled / optimized files
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Temporary files
*~
*.tmp

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
